


.modalWrapper {
    margin: 0 auto;
    width: 30vw;
    height: 50vh;
    margin-top: 15vh;
    padding: 5vh;
    box-shadow: rgba(171, 9, 235, 0.555) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: lightgray;
    justify-content: center;
    margin-left: 20vw;
}
.heading {
    margin: 0 auto;
    font-size: 1.5em;
    width: 20vw;
    height: 4vh;
    padding: 1vh;
}
.headingWrapper {
    margin: 0 auto;
    display: flex;
    width: 20vw;
    justify-content: center;
}
.icon {
    color: salmon;
    margin: 0 auto;
    width: 5vw;
    font-size: 2em;
    height: 4vh;
    &:hover {
        transform: scale(1.2, 1.2);
   
    }

}
.submitButton {
margin: 0;
padding: 1vh;
background-color: none;
border: none;
width: 10vw;
margin-bottom: 1vh;

}
.dropdownContainer {
    margin: 0;
    display: flex;
    width: 20vw;
}
.dropdown {
    margin: 0 auto;
    width: 6vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: salmon;
    padding: 1.5vh;
    border: 1px solid salmon;
    border-radius: 10px;
}
.textInput {
    width: 18vw;
    height: 3vh;
    padding: 1.5vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
    border-radius: 10px;
    color: salmon;
    border: 1px solid salmon;
    font-size: 1em;

}
.time {
    margin: 0 auto;
    width: 5vw;
    margin-top: 2vh;
    padding: 1.5vh;
    border-radius: 10px;
    color: salmon;
    border: 1px solid salmon;
    margin-bottom: 1vh;
}
.inputContainer {
    margin: 0;
    display: flex;
    width: 17vw;
}