.modalWrapper {
    margin: 0;
    width: 20vw;
    height: 45vh;
    margin-left: 5vh;
    padding: 7vh;
    border: 1px solid salmon;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.dropdown {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 20vw;
    height: 5vh;
    color: salmon;
    padding: 1vh;
    border: 1px solid salmon;
    border-radius: 10px;
}
.textInput {
    width: 15vw;
    height: 3vh;
    padding: 1.5vh;
    border-radius: 10px;
    color: salmon;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border: 1px solid salmon;
}