

.filmListWrapper {
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    margin-left: 3vw;
    margin-top: 8vh;
}
.subheading {
    width: 50vw;
    height: 3vh;
    margin: 0 auto;
    font-size: 2em;
    color: lightgray;
    text-transform: uppercase;
    margin-bottom: 6vh;

}
.iconContainer {
    margin: 0 auto;
    padding: 3vh;
    display: flex;
    width: 35vw;
    justify-content: center;
.icon {
    color: salmon;
    margin: 0;
    height: 4.3vh;
    width: 3vw;
    margin-left: 1vw;
    padding: 0 auto;
    &:hover {
        transform: scale(1.2, 1.2);
   
    }

}
.iconEdit {
    color: salmon;
    margin: 0 auto;
    margin-top: 0;
    height: 4vh;
    width: 3vw;
    margin-left: 1vw;
    &:hover {
        transform: scale(1.2, 1.2);
   
    }
}
}
.filmHeading {
    margin: 0 auto;
    font-size: 3em;

}
.filmListUl {
    list-style: none;
    height: 100%;
    width: 40vw;
    margin: 0;
    border-radius: 20px;
    padding: 1vh;
    margin-top: 10vh;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {

    .filmListWrapper {
        margin: 0 auto;
        width: 70vw;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin-left: 3vw;
        margin-top: 8vh;
    }
}