.card {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45vw;
    height: 25vh;
    padding: 2vw;
    margin-bottom: 4vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover {
      transform: scale(1.1, 1.1);
      border: 2px solid salmon;
      border-radius: 20px;
  }
}

.card__icon {
  color: salmon;
  margin: 0 auto;
  margin-left: 1vh;
  width: 1vw;
  font-size: 2em;
  height: 10vh;
  padding: 2vh;
  background-color: transparent;
  &:hover {
      transform: rotate(90deg);
 
  }

}
.card__btn {
margin: 0 auto;
background-color: none;
border: none;
width: 10vw;
height: 20vh;
margin-right: 2vh;
}
.card__title {
  width: 20vw;
}
.card__image {
  margin: 0 auto;
    width: 20vw;
    height: 25vh;
    border-radius: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.textWrapper {
margin: 0 auto;
  width: 25vw;
  height: 20vh;
  color: lightgray;
  margin-left: 1vw;
  .card__text {
    color: lightgray;
  }
}

@media only screen and (max-width: 600px) {

  .cardWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 40vh;
    padding: 1vw;
    margin-bottom: 4vh;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover {
    opacity: 0.4;
    border: 1px solid salmon;
  }
  .image {
    width: 60vw;
    margin-left: 10vh;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
}
}